<div class="card">
  <h5>Horizontal</h5>
  <p-splitter [style]="{ height: '300px' }" styleClass="p-mb-5">
    <ng-template pTemplate>
      <div class="p-col p-d-flex p-ai-center p-jc-center">
        <video
          id="my-video"
          class="video-js"
          controls
          preload="auto"
          width="auto"
          height="auto"
          poster="MY_VIDEO_POSTER.jpg"
          data-setup="{}"
        >
          <source
            src="//amssamples.streaming.mediaservices.windows.net/91492735-c523-432b-ba01-faba6c2206a2/AzureMediaServicesPromo.ism/manifest(format=m3u8-aapl-v3)"
            type="application/x-mpegURL"
          />
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading
            to a web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank"
              >supports HTML5 video</a
            >
          </p>
        </video>
      </div>
    </ng-template>
    <ng-template pTemplate>
      <div class="p-col p-d-flex p-ai-center p-jc-center">Panel 2</div>
    </ng-template>
  </p-splitter>
</div>
